<li>
    {{burger}}

{{!-- Creating a button and calling the function to change the burger's status in burger.js --}}
    <button class="change-status" data-id="{{id}}" data-isDevoured="{{devoured}}">
        {{#if devoured}}Devour It!{{else}}Don't Do It!!{{/if}}
    </button>
    <button class="delete-burge" data-id="{{this.id}}">Delete Da Burger!</button>
</li>